# ----------------------------------------
# Node.js
# ----------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ----------------------------------------
# dotenv environment variables
# ----------------------------------------
.env
.env.*.local

# ----------------------------------------
# Build output
# ----------------------------------------
build/
dist/
.cache/
.out/
coverage/

# ----------------------------------------
# OS-specific
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Logs
# ----------------------------------------
logs/
*.log

# ----------------------------------------
# IDEs & Editors
# ----------------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------------------------
# React-specific
# ----------------------------------------
/frontend/node_modules
/frontend/build

# ----------------------------------------
# Backend-specific
# ----------------------------------------
/backend/node_modules
/backend/.env
